<div class="row">
    <h1>Proyectos</h1>>
</div>
<div class="col-lg-11">
    <div class="col-lg-1">
        <button type="button" class="btn btn-primary" routerLink="Proyectos/crear" *ngIf="isLogged">Agregar Proyecto</button>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let item of proyecto ">
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td *ngIf="isLogged"><button class="btn btn-success" routerLink="Proyectos/update/{{item.id}}">Editar</button>
                </td>
                <td *ngIf="isLogged"><button class="btn btn-danger" (click)="Eliminar(item.id)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>