<div class="row">
    <h1>Proyectos en los que he participado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Proyecto 1</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, incidunt pariatur aliquid doloribus fuga ab delectus. Nisi error, neque nobis consectetur omnis maxime, nemo voluptate possimus ea id quos incidunt.
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/Logos proyecto/paella.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>