<div class="row">
    <h1>Educacion</h1>>
    <div class="col-lg-11">
    <ul>Escuela 1
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eos atque quae eaque unde possimus hic assumenda illo adipisci? Ducimus exercitationem velit temporibus. Doloremque adipisci, minima nemo distinctio labore corrupti?
        </li>
    </ul>
    <ul>Escuela 2
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eos atque quae eaque unde possimus hic assumenda illo adipisci? Ducimus exercitationem velit temporibus. Doloremque adipisci, minima nemo distinctio labore corrupti?
        </li>
    </ul>
    <ul>Escuela 3
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eos atque quae eaque unde possimus hic assumenda illo adipisci? Ducimus exercitationem velit temporibus. Doloremque adipisci, minima nemo distinctio labore corrupti?
        </li>
    </ul>
</div>
</div>
