<div class="container" *ngIf="isLogged">
    <div class="row">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="Nombre">Nombre de la organización</label>
                <input for="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input for="text" class="form-control" id="descripcion" [(ngModel)]="descripcion"
                    name="descripcionExp" required>
            </div>
            <button class="btn btn-success">
                Editar
            </button>
            <button class="btn btn-info" routerLink="/">
                Volver
            </button>
        </form>
    </div>
</div>