<div class="row">
    <h1> Habilidades Blandas y Tecnicas </h1>
    <div class="col-lg-11">
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary" routerLink="Habilidades/crear" *ngIf="isLogged">Agregar
                Habilidad</button>
    <div class="col-sm-3 col-md-3 col-lg-3" *ngFor="let habilidad of habilidad" id="circulo">
        <circle-progress 
        [percent]="(habilidad.porcentaje)" 
        [radius]="100" 
        [showTitle]="true"
        [title]="(habilidad.nombre)"
        [titleColor]="'white'"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8" 
        [outerStrokeColor]="'#6A86BA'"
        [innerStrokeColor]="'#AB3D29'" 
        [animation]="true" 
        [animationDuration]="700" 
        [lazy]="true">
        </circle-progress>

            <td *ngIf="isLogged"><button class="btn btn-success" routerLink="Habilidades/update/{{habilidad.id}}">Editar</button>
            </td>
            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="Eliminar(habilidad.id)">Borrar</button>
            </td>
    </div>
<!--
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress [percent]=85 [radius]="100" [title]="'CSS'"
            [imageSrc]="'../../assets/Logos proyecto/iconos/CSS.png'" [imageHeight]="115" [imageWidth]="100"
            [showImage]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="700" [lazy]="true"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress [percent]="85" [radius]="100" [title]="'JS'"
            [imageSrc]="'../../assets/Logos proyecto/iconos/js.png'" [imageHeight]="100" [imageWidth]="100"
            [showImage]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="700" [lazy]="true"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress [percent]="85" [radius]="100" [title]="'C#'"
            [imageSrc]="'../../assets/Logos proyecto/iconos/c_sharp.png'" [imageHeight]="100" [imageWidth]="100"
            [showImage]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="700" [lazy]="true"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress [percent]="85" [radius]="100" [title]="'Python'"
            [imageSrc]="'../../assets/Logos proyecto/iconos/python.png'" [imageHeight]="100" [imageWidth]="100"
            [showImage]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="700" [lazy]="true"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress [percent]="85" [radius]="100" [title]="'Java'"
            [imageSrc]="'../../assets/Logos proyecto/iconos/java.png'" [imageHeight]="100" [imageWidth]="100"
            [showImage]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="700" [lazy]="true"></circle-progress>
    </div>
    -->
</div>