<div class="container" *ngIf="isLogged">
    <div class="row">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input for="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Porcentaje</label>
                <input for="number" class="form-control" id="descripcion" [(ngModel)]="porcentaje"
                    name="descripcion" required>
            </div>

            <button class="btn btn-success">
                Agregar
            </button>
            <button class="btn btn-info" routerLink="/">
                Volver
            </button>
        </form>
    </div>
</div>