<div class="container">
    <div class="row">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input for="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Porcentaje</label>
                <input for="number" class="form-control" id="descripcion" [(ngModel)]="porcentaje"
                    name="descripcionExp" required>
            </div>
            <div>
                <label for="img">Imagen</label>
                <input type="file" class="form-control" id="imagen" [(ngModel)]="img" name="img"
                    required (change)="uploadImage($event)" accept=".jpeg, .png, .jpg">
            </div>
            <button class="btn btn-success">
                Editar
            </button>
            <button class="btn btn-danger">
                Eliminar
            </button>
        </form>
    </div>
</div>