<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">¿Ariel, sos vos?</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5" id="formulario">

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicio de sesion</h3>

            <form #f="ngForm"(ngSubmit)="onLogin()" novalidate>

              <div class="form-outline mb-4">
                <input type="user" id="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
                <label class="form-label" for="nombreUsuario">Usuario</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="contrasenia" class="form-control form-control-lg" [(ngModel)]="contrasenia" name="contrasenia" required/>
                <label class="form-label" for="contrasenia">Contraseña</label>
              </div>

              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Ingresar</button>
              </div>

            </form>
        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="../../../assets/Logos proyecto/colibri_login.jpg"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>