<div>
    <a href="https://www.linkedin.com/in/ariel-restagno-9017a3207/"><img src="../../../assets/Logos proyecto/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/arielrb"><img src="../../../assets/Logos proyecto/github.png" id="github"></a>
    <div class="boton">
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">Cerrar Sesion</button>
    </div>
</div>
