
<div class="row">
    <div class="col-lg-1">
        <button type="button" class="btn btn-primary" routerLink="/MiPersona/1" *ngIf="isLogged">Editar perfil</button>
    </div>
    <div>
        <img src={{persona?.img}} width="200px" id="Yo"class="img-fluid">
    </div>
    <div>
        <p id="Nombre"> {{persona?.nombre + " " + persona?.apellido}}</p>
        <p id="Titulo"> Developer Full Stack Jr</p>
    </div>
    <span>
        <h1>Acerca de mi</h1>
        <p>{{persona?.descripcion}}</p>
    </span>
</div>