*{
    background-color: #2A314A;
}
/* Estilo nombre y foto*/
#Nombre{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
#Yo {
    border-radius: 100%;
    box-shadow: 7px 5px 10px black;
}
h1{
    color:#87ABED;
}
div {
    text-align: center;
    color: white;
}