.row{
    padding: 20px;
}
/* Estilo nombre y foto*/
#Nombre{
    font-weight: bold;
    font-family: sans-serif;
}
#Yo {
    border-radius: 100%;
    box-shadow: 7px 5px 10px black;
}

div {
    background-color: tomato;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px;
}